.app.dark {
    --bg-color: #000000;
    --inverted-bg-color: #ffffff;

    --primary-color: #fafafa;
    --secondary-color: #c5c5c5;
    --inverted-primary-color: #000000;
    --inverted-secondary-color: #444444;
}
