.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #000000;

  --primary-color: #000000;
  --secondary-color: rgba(59, 58, 58, 0.5);

  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: rgba(194, 194, 194, 0.5);
}