.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #000;
    --primary-color: #000;
    --secondary-color: rgb(59 58 58 / 50%);
    --inverted-primary-color: #fff;
    --inverted-secondary-color: rgb(194 194 194 / 50%);
}
